<p>
    <font color = "#428cf4">
        Connect to Server
    </font>
</p>

In [129]:
import pymysql
import pandas as pd

In [130]:
dbhost = '142.93.201.12'
dbport = 3306
dbuser = 'qum6'
dbpasswd = '4313210'
dbname = 'qum6'

In [131]:
conn =  pymysql.connect(host=dbhost, port=dbport, user=dbuser, passwd=dbpasswd, db=dbname)

In [132]:
conn.autocommit(1)
cursor = conn.cursor()

<hr>

<p>
     <font color = "#428cf4">
    Insert Into place Table
    </font>
</p>

In [133]:

p0 = pd.read_csv('restaurant-data-with-consumer-ratings/chefmozhours4.csv') 
p1 = pd.read_csv('restaurant-data-with-consumer-ratings/chefmozcuisine.csv') 
p2 = pd.read_csv('restaurant-data-with-consumer-ratings/chefmozaccepts.csv')
p3 = pd.read_csv('restaurant-data-with-consumer-ratings/chefmozparking.csv')
p4 = pd.read_csv('restaurant-data-with-consumer-ratings/geoplaces2.csv') 
p5 = pd.read_csv('restaurant-data-with-consumer-ratings/rating_final.csv')

In [134]:
pt = pd.Series(p0['placeID'])
pt = pt.append(p1['placeID'])
pt = pt.append(p2['placeID'])
pt = pt.append(p3['placeID'])
pt = pt.append(p4['placeID'])
pt = pt.append(p5['placeID'])

In [135]:
places = pd.DataFrame(pt)
uplaces = places.drop_duplicates('placeID')

In [136]:
for idx, row in uplaces.iterrows():

    sql = "INSERT INTO place"
    sql = sql + "(placeID)"
    sql = sql + "VALUES('"
    sql = sql + str(row["placeID"])
    sql = sql +"')"
    
    #print(sql)
    cursor.execute(sql)

<hr>

<p>
    <font color = "#428cf4">
    geoplace2
    </font>
    <br>
    <font color = "#f4416d">
        Need Fixing. Only inserted 2 rows into databse because row 3 and row 67 has problem with text characters.
    </font>
    <br>
    <font color = "#33cc33">
        Fixed, by editing the csv file
    </font>
</p>

In [137]:
gp2 = pd.read_csv('restaurant-data-with-consumer-ratings/geoplaces2.csv', encoding = 'utf-8')

In [138]:
for idx, row in gp2.iterrows():
    
    sql = "INSERT INTO geoplaces2"
    sql = sql + "(fk_gp2_placeID, latitude, longitude, the_geom_meter, name, "
    sql = sql + "address, city, state, country, fax, zip, alcohol, "
    sql = sql + "smoking_area, dress_code, accessibility, price, url, "
    sql = sql + "Rambience, franchise, area, other_services)"
    sql = sql + "VALUES('"
    sql = sql + str(row["placeID"]) + "', '"
    sql = sql + str(float(row["latitude"])) + "', '"
    sql = sql + str(float(row["longitude"])) + "', '"
    sql = sql + str(row["the_geom_meter"]) + "', '"
    sql = sql + str(row["name"]) + "', '"
    sql = sql + str(row["address"]) + "', '"
    sql = sql + str(row["city"]) + "', '"
    sql = sql + str(row["state"]) + "', '"
    sql = sql + str(row["country"]) + "', '"
    sql = sql + str(row["fax"]) + "', '"
    sql = sql + str(row["zip"]) + "', '"
    sql = sql + str(row["alcohol"]) + "', '"
    sql = sql + str(row["smoking_area"]) + "', '"
    sql = sql + str(row["dress_code"]) + "', '"
    sql = sql + str(row["accessibility"]) + "', '"
    sql = sql + str(row["price"]) + "', '"
    sql = sql + str(row["url"]) + "', '"
    sql = sql + str(row["Rambience"]) + "', '"
    sql = sql + str(row["franchise"]) + "', '"
    sql = sql + str(row["area"]) + "', '"
    sql = sql + str(row["other_services"])
    sql = sql + "');"
                    
    ##print(sql)
    ##print("_________________________________________")
    ##print(" ")
    
    cursor.execute(sql)

<hr>

<p>
    <font color = "#428cf4">
    userprofile
    </font>
</p>

In [139]:
up = pd.read_csv('restaurant-data-with-consumer-ratings/userprofile.csv')

In [140]:
for idx, row in up.iterrows():
    
    sql = "INSERT INTO userprofile"
    sql = sql + "(userID, latitude, longitude, smoker, drink_level, "
    sql = sql + "dress_preference, ambience, transport, marital_status, "
    sql = sql + "hijos, birth_year, interest, personality, religion, "
    sql = sql + "activity, color, weight, budget, height)"
    sql = sql + "VALUES('"
    sql = sql + str(row["userID"]) + "', '"
    sql = sql + str(float(row["latitude"])) + "', '"
    sql = sql + str(float(row["longitude"])) + "', '"
    sql = sql + str(row["smoker"]) + "', '"
    sql = sql + str(row["drink_level"]) + "', '"
    sql = sql + str(row["dress_preference"]) + "', '"
    sql = sql + str(row["ambience"]) + "', '"
    sql = sql + str(row["transport"]) + "', '"
    sql = sql + str(row["marital_status"]) + "', '"
    sql = sql + str(row["hijos"]) + "', '"
    sql = sql + str(int(row["birth_year"])) + "', '"
    sql = sql + str(row["interest"]) + "', '"
    sql = sql + str(row["personality"]) + "', '"
    sql = sql + str(row["religion"]) + "', '"
    sql = sql + str(row["activity"]) + "', '"
    sql = sql + str(row["color"]) + "', '"
    sql = sql + str(int(row["weight"])) + "', '"
    sql = sql + str(row["budget"]) + "', '"
    sql = sql + str(row["height"])
    sql = sql + "');"
    
    #print(sql)
    #print("_________________________________________")
    #print(" ")
    
    cursor.execute(sql)

<hr>

<p>
    <font color = "#428cf4">
        chefmozaccepts 
    </font>
    <br>
      <font color = "#f4416d">
        Need Fixing. Need geoplace2 to work because it is the parent table 
    </font>
    <br>
    <font color = "#33cc33">
        Fixed
    </font>
</p>

In [141]:
cma = pd.read_csv('restaurant-data-with-consumer-ratings/chefmozaccepts.csv')

In [142]:
for idx, row in cma.iterrows():
    
    sql = "INSERT INTO chefmozaccepts"
    sql = sql + "(fk_cma_placeID, Rpayment)"
    sql = sql + "VALUES('" 
    sql = sql + str(row["placeID"]) + "','"
    sql = sql + str(row["Rpayment"])
    sql = sql + "');"
    
    #print(sql)
    cursor.execute(sql)

<hr>

<p>
     <font color = "#428cf4">
    usercuisine
    </font>
</p>

In [143]:
uc = pd.read_csv('restaurant-data-with-consumer-ratings/usercuisine.csv')

In [144]:
uc_unq = uc.drop_duplicates('Rcuisine')

In [145]:
for idx, row in uc_unq.iterrows():

    sql = "INSERT INTO cuisine"
    sql = sql + "(Rcuisine)"
    sql = sql + "VALUES('"
    sql = sql + str(row["Rcuisine"]) 
    sql = sql + "')"
    
    #print(sql)
    
    cursor.execute(sql)

<hr>